*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:linear-gradient(135deg,#4facfe,#00f2fe);

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;

padding:30px;

border-radius:20px;

width:400px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

h1{

text-align:center;
margin-bottom:20px;

}

.searchBox{

display:flex;
gap:10px;

}

input{

flex:1;
padding:12px;

border-radius:8px;
border:1px solid gray;

}

button{

padding:12px 20px;

background:#0077ff;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#005ad6;

}

#weather{

margin-top:25px;

text-align:center;

}

#weather img{

width:80px;

}

ul{

margin-top:15px;

}

li{

cursor:pointer;

padding:8px;

list-style:none;

}

li:hover{

background:#eee;

}
